body{
  margin: 0;
  background-repeat: no-repeat;
  font-family: 'Tajawal', sans-serif;   
}

/*Navbar*/
.nav-item .nav-link{
  margin: 0 25px ;
  color:none!important;
  text-align: center !important;
}

.navbar-brand{
  margin-right: 540px !important;
  margin-left: 44px;
}
.navbar-toggler{
  border: none !important;
  outline: none !important;
  margin-top: -60px !important;
  margin-left: -10px !important;
}

.navbar{
  background: white !important;
  font-family: 'Cinzel', serif;
  
}

/* Footer */

.footer
{
	width: 100%;
	background: #000;
  display: block;
}

.inner-footer
{
	width: 95%;
	margin: auto;
	padding: 30px 10px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
}

.footer-items
{
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
}

.inner-footer h1
{
	padding: 10px 0;
	font-size: 25px;
	color: #fff;
  text-transform: uppercase;
  font-family: 'Cinzel', serif;
}

.footer-items p
{
	color: gray;
	font-size: 16px;
	line-height: 22px;
}

.inner-footer h2
{
	margin: 10px 0;
	color: white;
	font-size: 16px;
	text-transform: uppercase;
}

.inner-footer .border
{
	height: 2px;
	width: 40px;
	background: #C9C9C9;
}

.inner-footer ul
{
	list-style: none;
	color: gray;
	font-size: 15px;
}

.inner-footer ul a
{
	text-decoration: none;
	outline: none;
	color: gray;
	transition: 0.3s;
}

.inner-footer ul a:hover
{
	color: #fff;
}

.inner-footer ul li
{
	margin: 10px 0;
}

.inner-footer ul li i
{
	margin-right: 20px;
	padding:0;
}

.footer-bottom
{
	padding: 10px;
	background: #1C1C1C;
	color: #C4C4C4;
	font-size: 15px;
	text-align: center;
}

.social-media a{
   text-decoration: none;   
}

.social-media i{
   height: 20px;
   width: 2px;
   margin: 17px 5px;
   padding: 13px;
   font-size: 20px;
  }

  .fa-facebook-f{
      color:#3b5998 !important;
  }

  .fa-twitter{
      color:#00acee !important;
  }

  .fa-instagram{
    color: white;
  }

  .fa-youtube{
    color: red;
  }

.footer-bottom{
  padding: 10px;
  background: gray;
  color: #c9c9c9;
  font-size: 12px;
  text-align: center;
}

@media screen and (max-width:1085px) {
  .footer-items{
      width: 50%;
  }
}

@media screen and (max-width:600px) {
  .footer-items{
      width: 100%;
  }
  
}